.button-primary {
    padding: 13px 20px;
    background-color: var(--color-primary);
    border-radius: 8px;
    color: white;
}

.button-primary:hover {
    cursor: pointer;
    background-color: var(--color-primary-2);
}

.button-grey {
    background-color: var(--grey-2);
    padding: 15px;
    border-radius: 8px;
}

.button-grey:hover {
    background-color: var(--grey-3);
    cursor: pointer;
}

.button-grey:active {
    background-color: var(--color-primary);
}

.button-trash {
    background-color: var(--grey-2);
    border-radius: 2.5px;
    background-image: url('../img/trashBlack.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 22px;
    height: 22px;
}

.button-trash:hover {
    background-color: var(--grey-3);
    background-image: url('../img/trash.svg');
    transition: 0.5s;
}